<%- include("partials/header"); -%>
    <h1>Home Page</h1>

    <main>
        <% movie.forEach(data => { %>
            <ul>
                <li><h1><a href="/<%= data.id %>"><%= data.name %></a></h1></li>
                <li><img src="<%= data.image %>" alt="<%= data.name %>" /></h1></li>
                <li><p><%= data.description %></p></li>
            </ul>
        <% }) %>
    </main>
<%- include("partials/footer"); -%>